body {
    background-image: url('https://i.pinimg.com/564x/25/ad/a9/25ada9b6d926b2984f2870131db9d914.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(218, 157, 157, 0.169);
}


